@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-olm8wj');
	src:url('fonts/icomoon.eot?#iefix-olm8wj') format('embedded-opentype'),
		url('fonts/icomoon.woff?-olm8wj') format('woff'),
		url('fonts/icomoon.ttf?-olm8wj') format('truetype'),
		url('fonts/icomoon.svg?-olm8wj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic-ext);

body,html {
	margin:0;
	padding:0;
	background: #0F2124;
	font-family: 'PT Sans Narrow', sans-serif;
}
.wrapper {
	display: block;;
	text-align: center;;
	margin: 50px auto;
	opacity:1;
	transition: opacity .1s;
	-webkit-transition: opacity .1s;
	-o-transition: opacity .1s;
	-moz-transition: opacity .1s;

	transition-delay:.1s;
	-webkit-transition-delay:.1s;
	-o-transition-delay:.1s;
	-moz-transition-delay:.1s;
	min-width: 528px;
}
.right-col {
	display: inline-block;
	vertical-align: top;
}
.left-col {
	display: inline-block;
	vertical-align: top;
}
.center-col {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.github-btn {
	margin-right: -9px;
}
.side-menu {
	position: relative;
	display: inline-block;
	vertical-align: top;
	
	list-style: none;
	padding:0;
	margin:0;
	margin-right: -7px;
}

.menu-item {
	display: block;
	margin: 15px 0;
	
	cursor: pointer;
	text-align: right;
	transition-duration: .7s;
	-webkit-transition-duration: .7s;
	        
}
.gap {
	margin-top:300px;
}
.btn {
	font-family: 'PT Sans Narrow', sans-serif;
	background: rgba(0,0,0,.4);
	color :white;
	padding: 5px 14px 5px 10px;
	text-align: right;
	font-size: 15px; 
	cursor: pointer;
	border-radius: 5px;
}
.restart {
	cursor: pointer;
	text-align: right;
	font-family: 'icomoon';
	padding-top:7px;
	padding-bottom: 7px;
}
.winfield .restart {
	text-align: center;
	font-style: normal;
	line-height: 60px;

}
.restart:before {
	content: "\61";
}

.how-to {
	cursor: pointer;
	text-align: center;
	display: inline-block;
}
.demo-play {
	opacity: .9;
	font-size: 13px;
}

.game-name span {
	font-size: 26px;
	cursor: default;
}
.color-btn {
	width:80px;
	height:80px;
	border-radius: 40px;
	display:block;
	margin: 10px 0;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,.5);
	opacity: 1;
	-webkit-transition: all .1s ease-out;
	        transition: all .1s ease-out;
}
.color-panel {
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	margin-top: 13px;
	cursor: pointer;
}

.tile-12 {
	width:44px;
	height: 44px;
}

.tile-24 {
	width:22px;
	height: 22px;

}

.winfield {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background: rgba(0,0,0,.3);
	text-align: center;
	padding-top:45%;
	font-weight: 400;
	font-size: 29px;
	color:white;

}

.score {
	color:white;
	font-family: 'PT Sans Narrow', sans-serif;

	font-size: 26px;
	font-weight: 300;
	text-align: center;
	margin-bottom:15px;
}
.tile {
	display:block;
	float:left;
	background: red;
	padding:0;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	-moz-transition-duration: .3s;
}

.grid-row
 {
	display: block;
	position: relative;
	margin:0;
	padding:0;
}
.how-tofield {
	top:50px;
	left:200px;
	width:550px;
	height:516px;
	position:absolute;
	background: rgba(0,0,0,.8);
	display: inline-block;
}

.game-field {
	margin: 0px auto;
	position:relative;
	display: inline-block;

}
.game-field-wrapper {
	position: relative;
	width:100%;
	height: 100%;
}

.mini-color-scheme {
	position: relative;
	display:inline-block;
	margin: 0 10px 10px;
	cursor: pointer;
}
.mini-color-scheme:hover {
	opacity: .8;
}
.mini-color-scheme-tile {
	width:22px;
	height:13px;
	display:inline-block;
}
.mini-color-scheme-wrapper {
	margin: 10px auto;
	max-width: 
}

@media screen and (max-width: 835px)  {
	.side-menu {
		margin-right: 0;
		margin-bottom: 8px;
	}
	.menu-item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 4px;
	}
	.gap {
		margin-top:inherit;
	}
	.color-btn {
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
	}
	.color-panel {
		margin:0;
		margin-top: -20px;
	}
	.no-mobile {
		display: none;
	}
	.score {
		margin-left:10px;
		margin-bottom: 0px;
	}
	.restart {
		line-height: 23px;
		padding-top: 6px;
		padding-bottom: 7px;
	}
	.game-name {
		margin-right: 95px;
	}
}
@media screen and (max-width: 560px)  {
	.left-col {
		display: block;
	}
	.right-col {
		display: block;
	}
	.winfield {
		padding-top: 33%;
	}
	.winfield .restart {
		line-height: 32px;
	}
	.tile-12 {
		width:20px;
		height:20px;
	}

	.tile-24 {
		width:10px;
		height:10px;

	}
	.color-btn {
		display: inline-block;
		margin-left: 4px;
		margin-right: 4px;
		width:40px;
		height: 40px;
	}
	.mini-color-scheme-tile {
	width:10px;
	height:9px;
	display:inline-block;
	}
	.mini-color-scheme-wrapper {
		margin-top: 5px;
	}
	.mini-color-scheme {
		margin-right: 6px;
		margin-left: 6px;
	}
	.btn {
		font-size:10px;
	}
	.how-to .demo-play {
		font-size: 10px;
	}
	.restart {
		line-height: 19px;
	}
	.game-name {
		display: block;
		text-align: center;
		margin-bottom: 2px;
		margin-top: 2px;
		margin-right: 0px;
	}
	.game-name span {
		font-size: 20px;
	}
	.score  {
		font-size: 14px;
		margin-left: 3px;
	}

	.wrapper {
		min-width: 320px;
		margin: 20px auto;
	}
	.menu-item  {
		margin-bottom: 0px;
		
	}
}

@media screen and (min-width: 835px) {
.mobile {
		display: none;
	}
}
